*, html, body
{
	font-family: "Fira Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6
{
	font-family: "Fira Sans", sans-serif;

}

/*
 * navigatie stijlen
 */
.sub-text
{
	font: normal bold .7em/1em "Open Sans", sans-serif;
}

/*
 * cover schermen
 */

#titel h1
{
	font-family: 'Open Sans', sans-serif;
}
#titel h3
{
	font: italic normal 3vw/4em "Fira Sans", sans-serif;
}

/*
 * styling van de titelbalk elementen
 */

.titelbalk h3 { font: italic normal .8vmax/.4em "Fira Sans", sans-serif; }

#inleiding 		{	background-color: AliceBlue; }
#een  				{	background-color: Gainsboro; }
#twee  				{	background-color: LightSkyBlue; }
#tweetwee 		{	background-color: 	LightBlue; }
#drie 				{	background-color: DeepSkyBlue; }
#vier 				{	background-color: DodgerBlue; }
#vijf 				{	background-color: 	SkyBlue; }
#reflectie 		{	background-color: LightGrey; }
#conclusie 		{	background-color: LightSlateGray; }
#appendix 		{ background-color: SteelBlue; }
#eind 				{ background-color: LightSteelBlue; }

/*
 * styling van de teksten
 */

blockquote
{
	font-size: 16pt;
	line-height: 1.4em;
	margin: 1em 0;
}
	.quotes
	{
		font-style: italic;
		font-size: 16pt;
	}

	.vragen
	{
		font-weight: bold;
	}

ul
{
	list-style-type:circle;
	margin-left:1.2em;
}

/*
 * link styles
 */
a
{
	color: black;
}
a:hover
{
	color: blue;
}
a:visited
{
	color: black;
}

.bigfoot-footnote__content p {
  margin: 0;
  color: SteelBlue;
}

ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0; list-style: none; }
ul li a { color: black; }
ul li div { display: none; }

