*, html, body
{
	font-family: "Charter", serif;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
}
/*
 * navigatie stijlen
 */
.sub-text
{
	font: normal bold .8em/1em "Raleway", sans-serif;
}

/*
 * cover schermen
 */

#titel h1
{
	font: normal bold 5vw/0em "Raleway", sans-serif;
	padding: 0;
}
#titel h3
{
	font: italic normal 3vw/4em "Charter", serif;
	padding: 0;
}

/*
 * styling van de titelbalk elementen
 */

.titelbalk h3 { font: italic normal .8vmax/.4em "Charter", serif;  }

#inleiding 	{ background-color: LavenderBlush; }
#een 				{ background-color: MediumVioletRed; }
#twee 			{ background-color: DeepPink; }
#tweetwee 	{ background-color: HotPink; }
#drie 			{ background-color: LightCoral; }
#vier 			{ background-color: PaleVioletRed; }
#vijf 			{ background-color: Coral; }
#reflectie 	{ background-color: LightPink; }
#conclusie 	{ background-color: PaleVioletRed; }
#appendix 	{ background-color: Thistle; }
#eind 			{ background-color: Bisque; }


/*
 * styling van de teksten
 */

blockquote
{
	font-size: 16pt;
	line-height: 1.4em;
	margin: 1em 0;
}
	.quotes
	{
		font-style: italic;
		font-size: 16pt;
	}

	.vragen
	{
		font-weight: bold;
	}

ul
{
	list-style-type:circle;
	margin-left:1.2em;
}

/*
 * link styles
 */
a
{
	color: black;
}
a:hover
{
	color: blue;
}
a:visited
{
	color: black;
}

.bigfoot-footnote__content p {
  margin: 0;
  color: DeepPink;
}
