/* z-index

    cover: 10
*/

html, body
{
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Yantramanav', sans-serif;

}
h1, h2, h3, h5
{
    font-family: 'Playfair Display', serif;
}

#titel h1
{
    font: normal bold 5vw/0em "Playfair Display", serif;
    padding: 0;
}
#titel h2
{
    font: italic 3vw/4em "Playfair Display", serif;
    padding: 0;
}
#titel h6  
{
    font: normal 1vw/0.575em "Yantramanav", sans-serif;
    padding: 0;
}
#titel h4
{
    font: normal 3vw/1em "Yantramanav", sans-serif;
    padding: 0;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

#container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 223vw;
    height: 100vh;
}

/*****

    COVER

*****/

#cover
{
    float: left;
    width: 100vw;
    height: 100vh;
}
.cover_inner
{
    margin: 90px auto;
    width: 60vh;
    height: 60vh;
    background: url('img/cover–robin-thicke.png') center no-repeat;
    background-size: cover;
    position: relative;
    z-index:1;
}
.cover_title
{
 
    position: absolute;
    z-index:2;
    width: 100vw;
    font: normal normal 48pt/1em 'Times', serif;
    text-align: center;
}

#cover_caption
{
    position: absolute;
    bottom: 60px;
    width: 100vw;
    text-align: center;
    line-height: 2em;
}
#start_reading
{
    text-decoration: underline;
    cursor: pointer;
}
#start_reading:hover
{
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px #000;
}
/*****

    NAVIGATION

*****/

nav
{
    float:left;
    width: 23vw;
    height: 100vh;
    background-color: black;
    color: #fff;
}
.menu_toggle
{
    position: relative;
    top: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent url('img/menu_icon_alice.svg') center no-repeat;
    background-size: cover;
    z-index: 15;
}
.content_side
{
    left: 50px;
}


/*****

    MAIN

*****/

main
{
    float:left;
    height: 100vh;
    width: 100vw;
    background-color: WhiteSmoke;
    overflow-x: auto;

}
.scrollbox
{
    margin-top: -25px;
    width: 30000px;
    height: 100vh;
}
.chapter
{
    position: relative;
    float: left;
    height: 100vh;
    padding: 10vh 0;
}
.chapter > *
{
    float:left;
    height: 80vh;
    margin-left: 50px;
}
.content
{
    display: none;
    width: 1000px;
    -webkit-column-width: 250px;
    -webkit-column-gap: 50px;
    -moz-column-width: 250px;
}
.teaser
{
    position: relative;
    width: 200px;
}

.teaser img
{
    position: absolute;
    bottom: 0;
}
.spine
{
    position: relative;
    height: 100%;
    width: 8vh;
    background-color: black;
}


/* HOOFDSTUKKKEN */

#inleiding .spine
{
    background: url('img/vr balken-inleiding.svg');
    background-size: contain;
}
#een .spine
{
    background: url('img/vr balken-hoofdstuk 1.svg') no-repeat;
    background-size: contain;
}
#een .content {
    width:1500px;
}
#twee_een .spine
{
    background: url('img/vr balken-hoofdstuk 2.1.svg');
    background-size: contain;
}
#twee_twee .spine
{
    background: url('img/vr balken-hoofdstuk 2.2.svg');
    background-size: contain;
}
#twee_twee .content {
    width:5000px;
}
#drie .spine
{
    background: url('img/vr balken-hoofdstuk 3.svg');
    background-size: contain;
}
#drie .content 
{
    width:5000px;
}
#vier .spine
{
    background: url('img/vr balken-hoofdstuk 4.svg');
    background-size: contain;
}
#vier .content 
{
    width:4000px;
}
#vijf .spine
{
    background: url('img/vr balken-hoofdstuk 5.svg');
    background-size: contain;
}
#vijf .content 
{
    width:1500px;
}
#reflectie .spine
{
    background: url('img/vr balken-reflectie.svg');
    background-size: contain;
}
#reflectie .content 
{
    width:3000px;
}
#conclusie .spine
{
    background: url('img/vr balken-conclusie.svg');
    background-size: contain;
}
#conclusie .content 
{
    width:500px;
}
#bronnen .spine
{
    background: url('img/vr balken-bronnen.svg');
    background-size: contain;
}


/* STYLING TEKSTEN */

blockquote
{
    font-size: 16pt;
    line-height: 1.4em;
    margin: 1em 0;
}
    .quotes
    {
        font-style: italic;
        font-size: 12pt;
    }

ul
{
    list-style-type:circle;
    margin-left:1.2em;
}

/* STYLING AFBEELDINGEN */

}

#thumbnail {
    display: block;
    width: 250px;
    height: 100px;
}

#thumbnail:hover + #title {
    display: block;
    position: absolute;
}

#title {
    display: none;
    text-align: center;
    width: 250px;
    padding: 10px;
}