html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  box-sizing: border-box;
  font-family: "Yantramanav", sans-serif;
  overflow: hidden;
}

*, *::before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h5
{
    font-family: 'Playfair Display', serif;
    margin-bottom: 1em;
}

h6 
{
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

#titel h1
{
    font: normal bold 5vw/0em "Playfair Display", serif;
    padding: 0;
}
#titel h2
{
    font: italic 5vw/6em "Playfair Display", serif;
    padding: 0;
}
#titel h6  
{
    font: normal 1vw/0.575em "Yantramanav", sans-serif;
    padding: 0;
}
#titel h4
{
    font: normal 3vw/1em "Yantramanav", sans-serif;
    padding: 0;
}

sup {
  vertical-align: super;
  font-size: .6em;
}

ul {
  margin: 1em 0;
}

main {
  width: 100vw;
}

#wrapper {
  overflow: hidden;
}

#cover {
  width: 100vw;
  height: 100vh;
}
#cover #cover_inner {
  margin: 50px auto;
  width: 70vh;
  height: 70vh;
  padding top: 50;
  background: url("img/cover–robin-thicke.png") center no-repeat;
  background-size: cover;
}
.cover_title {
    position: absolute;
    z-index: 1;
    width: 100vw;
    font: normal normal 48pt/1em 'Times', serif;
    text-align: center;
}

#cover #cover_caption {
  position: absolute;
  bottom: 60px;
  width: 100vw;
  text-align: center;
  line-height: 2em;
}
#cover #start_reading {
  cursor: pointer;
}

.button {
  position: fixed;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 25px;
  color: #fff;
  line-height: 50px;
  font-size: 0.7em;
  text-align: center;
  cursor: pointer;
}

.menu_toggle {
  left: 25px;
}

.print_toggle {
  right: 25px;
}

nav {
  position: fixed;
  left: -300px;
  top: 0px;
  width: 300px;
  height: 100vh;
  padding: 5vh 1em;
  background-color: black;
  color: #fff;
}
nav li {
  width: 100%;
  font-size: 1.5em;
  padding: 5px 0;
  cursor: pointer;
}
nav li:hover {
  text-decoration: underline;
  color: #78E8C5;
}

.hoofdstuk {
  width: inherit;
  clear: both;
  height: 100%;
}
.hoofdstuk > div {
  float: left;
  min-height: 100vh;
}
.hoofdstuk .rug {
  width: 24vw;
  padding: 5vh 1em;
}
.hoofdstuk .rug .rug_afb {
  width: 60px;
  float: right;
}
.hoofdstuk .teaser {
  left: 24vw;
  width: 21vw;
  padding: 5vh 2em 5vh 1em;
}
.hoofdstuk .teaser p {
  font-size: 1.2em;
}
.hoofdstuk .broodtekst {
  left: 45vw;
  width: 55vw;
}
.hoofdstuk .broodtekst .content {
  float: left;
  width: 50vw;
  padding: 5vh 16vw 5vh 0;
}
.hoofdstuk .broodtekst .footnote {
  float: right;
  position: relative;
  width: 16vw;
  padding: 1em 1em 0 2em;
  margin: 1.2em 0;
  margin-right: -16vw;
  word-break: break-all;
  color: #78E8C5;
}
.hoofdstuk .broodtekst .footnote p, .hoofdstuk .broodtekst .footnote a {
  font-size: 9pt;
}

.reclameblok img {
  width: 50vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5vh 2em 5vh 1em;
}

blockquote
{
    font-size: 14pt;
    line-height: 1.4em;
    margin: 1em 0;
    font: normal 1vw/1em "Playfair Display", serif;
}
    .quotes
    {
        font-style: italic;
        line-height: 1.4em;
        font-size: 12pt;
    }

ul
{
    list-style-type: circle;
    margin-left:1.2em;
}

a:link {
    background-color: transparent;
    color: #78E8C5;
}

a:visited {
    background-color: transparent;
    color: #78E8C5;
}

a:hover {
    background-color: transparent;
    color: #78E8C5;
}

a:active {
    background-color: #78E8C5;
    color: #78E8C5;
}  

#thumbnail {
    display: block;
    width: 300px;
    height: 100px;
}

#thumbnail:hover + #title {
    display: block;
    position: absolute;
    background-color: black;
    color: #78E8C5;
}

#title {
    display: none;
    text-align: center;
    width: 250px;
    padding: 10px;
}
